# LibreDTE
swagger: '2.0'
info:
  title: Servicios web de LibreDTE
  description: API para trabajar, principalmente, con Documentos Tributarios Electrónicos del SII Chile. Esta descripción corresponde a los servicios web disponibles en https://libredte.cl
  version: "1.0.0"
# dominio de la API
host: libredte.cl
# arreglo con los esquemas que la API soporta
schemes:
  - https
securityDefinitions:
  ApiKey:
    type: apiKey
    name: Authorization
    in: header
    description: La API key está disponible en el perfil del usuario.
  Basic:
    type: basic
    description: Para la autenticación básica de HTTP se puede enviar el nombre de usuario y su contraseña o bien el hash del usuario (como usuario) y una X mayúscula (como contraseña). El hash está disponible en el perfil del usuario.
security:
  - ApiKey: []
  - Basic: []
# rutas
basePath: /api
produces:
  - application/json
paths:
  /dte/documentos/emitir:
    post:
      summary: Emisión de un DTE temporal
      description: Recurso que permite emitir un documento temporal.
      security:
        - ApiKey: []
        - Basic: []
      parameters:
        - name: dte
          in: body
          description: Datos del documento que se desea emitir, puede ser objeto JSON o bien los datos en otro formato codificados en base64
          required: true
          schema:
            type: object
        - name: normalizar
          in: query
          description: Indica si se deben o no normalizar los datos del documento enviado  (por defecto se normaliza)
          type: boolean
          default: true
        - name: formato
          in: query
          description: Formato de los datos que se están enviando (por defecto json)
          type: string
          default: json
      tags:
        - Documentos
        - Crear DTE
      responses:
        200:
          description: Identificación del DTE temporal
          schema:
            $ref: '#/definitions/DteTmp_ID'
        400:
          description: Debe enviar el DTE como un objeto JSON
        401:
          description: Usuario no autenticado o bien credenciales incorrectas
        403:
          description: No está autorizado a operar con la empresa solicitada o a emitir el DTE solicitado
        404:
          description: Falta RUTEmisor en el objeto JSON o el contribuyente no está registrado en la aplicación
        507:
          description: No fue posible guardar los datos del receptor o el DTE temporal
  /dte/documentos/generar:
    post:
      summary: Generar DTE real
      description: Recurso que permite generar el DTE real a partir de un documento temporal.
      security:
        - ApiKey: []
        - Basic: []
      parameters:
        - name: dte_tmp
          in: body
          description: Identificación del DTE temporal
          required: true
          schema:
            $ref: '#/definitions/DteTmp_ID'
      tags:
        - Documentos
        - Crear DTE
      responses:
        200:
          description: Objeto con el DTE emitido
          schema:
            $ref: '#/definitions/DteEmitido'
  /dte/documentos/generar_pdf:
    post:
      summary: Generar PDF a partir de XML
      description: Recurso que permite generar el PDF de un documento tributario electrónico a partir del XML de EnvioDTE o EnvioBOLETA.
      security:
        - ApiKey: []
        - Basic: []
      produces:
        - application/pdf
        - application/zip
      parameters:
        - name: solicitud
          in: body
          description: Solicitud para crear el PDF
          required: true
          schema:
            $ref: '#/definitions/Documento_PDF_Solicitud'
      tags:
        - Documentos
        - Crear DTE
      responses:
        200:
          description: PDF del DTE o archivo ZIP si son varios PDF
        400:
          description: Hubo algún problema al recibir el archivo XML con el EnvioDTE o EnvioBOLETA
        401:
          description: Usuario no autenticado o bien credenciales incorrectas
        500:
          description: No se pudieron obtener los datos de un DTE
        507:
          description: No fue posible crear directorio temporal pata DTEs
  /dte/documentos/consultar:
    post:
      summary: Consultar por un DTE emitido
      description: Recurso que permite consultar la existencia de un DTE emitido en LibreDTE.
      security:
        - ApiKey: []
        - Basic: []
      parameters:
        - name: dte
          in: body
          description: Identificación del DTE
          required: true
          schema:
            $ref: '#/definitions/Dte'
      tags:
        - Documentos
      responses:
        200:
          description: Objeto con el DTE emitido
          schema:
            $ref: '#/definitions/DteEmitido'
  /dte/dte_emitidos/info/{dte}/{folio}/{emisor}:
    get:
      summary: Datos de un DTE emitido
      description: Recurso que permite obtener los datos de un documento tributario electrónico emitido por un contribuyente. Este servicio no entrega el XML del DTE, si se requiere utilizar el servicio web correspondiente.
      security:
        - ApiKey: []
        - Basic: []
      parameters:
        - name: dte
          in: path
          description: Tipo de DTE
          required: true
          type: integer
        - name: folio
          in: path
          description: Folio del DTE
          required: true
          type: integer
        - name: emisor
          in: path
          description: RUT del emisor del DTE (sin DV)
          required: true
          type: integer
      tags:
        - DteEmitidos
      responses:
        200:
          description: Datos del documento emitido
          schema:
            $ref: '#/definitions/DteEmitido'
  /dte/dte_emitidos/xml/{dte}/{folio}/{emisor}:
    get:
      summary: XML de un DTE emitido
      description: Recurso que permite obtener el XML de un documento tributario electrónico emitido por un contribuyente.
      security:
        - ApiKey: []
        - Basic: []
      parameters:
        - name: dte
          in: path
          description: Tipo de DTE
          required: true
          type: integer
        - name: folio
          in: path
          description: Folio del DTE
          required: true
          type: integer
        - name: emisor
          in: path
          description: RUT del emisor del DTE (sin DV)
          required: true
          type: integer
      tags:
        - DteEmitidos
      responses:
        200:
          description: XML codificado en base64
          schema:
            type: string
  /dte/dte_emitidos/ted/{dte}/{folio}/{emisor}:
    get:
      summary: TED de un DTE emitido
      description: Recurso que permite obtener el TED de un documento tributario electrónico emitido por un contribuyente, ya sea como XML o como una imagen PNG.
      security:
        - ApiKey: []
        - Basic: []
      produces:
        - application/json
        - image/png
      parameters:
        - name: dte
          in: path
          description: Tipo de DTE
          required: true
          type: integer
        - name: folio
          in: path
          description: Folio del DTE
          required: true
          type: integer
        - name: emisor
          in: path
          description: RUT del emisor del DTE (sin DV)
          required: true
          type: integer
        - name: formato
          in: query
          description: Formato del TED, por defecto png
          type: string
          default: png
        - name: ecl
          in: query
          description: Nivel de corrección de error para timbre en PNG (PDF417)
          type: integer
          default: 5
      tags:
        - DteEmitidos
      responses:
        200:
          description: XML codificado en base64 o PNG transparente
  /dte/dte_emitidos/actualizar_estado/{dte}/{folio}/{emisor}:
    get:
      summary: Consultar el estado de un DTE emitido
      description: Recurso que permite consultar al SII el estado de un documento tributario electrónico emitido por un contribuyente y actualizar dicho estado en la base de datos de LibreDTE. El estado puede ser consultado a través del servicio web del SII o bien a través del correo que el SII envía a la casilla de contacto del contribuyente.
      security:
        - ApiKey: []
        - Basic: []
      parameters:
        - name: dte
          in: path
          description: Tipo de DTE
          required: true
          type: integer
        - name: folio
          in: path
          description: Folio del DTE
          required: true
          type: integer
        - name: emisor
          in: path
          description: RUT del emisor del DTE (sin DV)
          required: true
          type: integer
        - name: usarWebservice
          in: query
          description: Indica si se consultará con el servicio web o vía correo, por defecto se usa el servicio web
          type: boolean
          default: true
      tags:
        - DteEmitidos
        - Crear DTE
      responses:
        200:
          description: Estado de la revisión del DTE en el SII
          schema:
            $ref: '#/definitions/DteEmitido_EstadoEnvio_Respuesta'
  /dte/dte_emitidos/cargar_xml:
    post:
      summary: Enviar un XML de un DTE emitido fuera de LibreDTE
      description: Recurso que permite enviar un XML de un DTE emitido fuera de LibreDTE y que este sea agregado a los documentos emitidos del contribuyente.
      security:
        - ApiKey: []
        - Basic: []
      parameters:
        - name: xml
          in: body
          description: XML del DTE codificado en base64
          required: true
          schema:
            type: string
        - name: track_id
          in: query
          description: Track ID del XML que se está enviando
          type: integer
          default: -1
      tags:
        - DteEmitidos
      responses:
        200:
          description: Datos del DTE emitido cargado
          schema:
            $ref: '#/definitions/DteEmitido'
  /dte/dte_emitidos/buscar/{emisor}:
    post:
      summary: Buscar DTE emitidos
      description: Recurso que permite buscar entre los documentos tributarios electrónicos emitidos por cierto contribuyente.
      security:
        - ApiKey: []
        - Basic: []
      parameters:
        - name: emisor
          in: path
          description: RUT del emisor sin DV
          required: true
          type: integer
        - name: filtros
          in: body
          description: Filtros que se aplicarán a la búsqueda
          required: true
          schema:
            $ref: '#/definitions/DteEmitido_Buscar_Solicitud'
      tags:
        - DteEmitidos
      responses:
        200:
          description: Arreglo con DTEs encontrados
          schema:
            type: array
            items:
              $ref: '#/definitions/DteEmitido_Buscar_Respuesta'
  /dte/dte_emitidos/estado/{dte}/{folio}/{emisor}:
    get:
      summary: Consultar estado del DTE en el SII
      description: Recurso que permite consultar el estado de un documento tributario electrónico emitido por un contribuyente en el SII. Esta es la respuesta que se obtiene al verificar el estado del DTE vía www.sii.cl, no es el resultado del estado del envío con el track id.
      security:
        - ApiKey: []
        - Basic: []
      parameters:
        - name: dte
          in: path
          description: Tipo de DTE
          required: true
          type: integer
        - name: folio
          in: path
          description: Folio del DTE
          required: true
          type: integer
        - name: emisor
          in: path
          description: RUT del emisor del DTE (sin DV)
          required: true
          type: integer
        - name: avanzado
          in: query
          description: Indica si se debe realizar una consulta de estado avanzado o normal (por defecto normal).
          type: boolean
          default: false
      tags:
        - DteEmitidos
      responses:
        200:
          description: Respuesta del SII para el estado del DTE
  /dte/dte_recibidos/info/{emisor}/{dte}/{folio}/{receptor}:
    get:
      summary: Datos de un DTE recibido
      description: Recurso que permite obtener los datos de un documento tributario electrónico recibido por un contribuyente.
      security:
        - ApiKey: []
        - Basic: []
      parameters:
        - name: emisor
          in: path
          description: RUT del emisor del DTE (sin DV)
          required: true
          type: integer
        - name: dte
          in: path
          description: Tipo de DTE
          required: true
          type: integer
        - name: folio
          in: path
          description: Folio del DTE
          required: true
          type: integer
        - name: receptor
          in: path
          description: RUT del receptor del DTE (sin DV)
          required: true
          type: integer
      tags:
        - DteRecibidos
      responses:
        200:
          description: Datos del documento recibido
          schema:
            $ref: '#/definitions/DteRecibido'
  /dte/documentos/generar_xml:
    post:
      summary: Generar XML de DTE
      description: Recurso que permite generar el XML de un DTE enviando todo lo necesario para hacerlo sin que el contribuyente esté registrado en LibreDTE.
      security:
        - ApiKey: []
        - Basic: []
      produces:
        - application/zip
      parameters:
        - name: datos
          in: body
          description: Datos para poder construir el XML
          required: true
          schema:
            $ref: '#/definitions/GenerarXML_Solicitud'
      tags:
        - Documentos
      responses:
        200:
          description: Archivo ZIP con el XML EnvioDTE o EnvioBOLETA, o bien el XML del DTE solamente si no se indicó la resolución.
  /dte/documentos/verificar_ted:
    post:
      summary: Verificar TED
      description: Recurso que permite verificar el TED de un documento tributario electrónico cualquiera.
      security:
        - ApiKey: []
        - Basic: []
      parameters:
        - name: ted
          in: body
          description: XML del TED codificado en base64
          required: true
          schema:
            type: string
      tags:
        - Documentos
      responses:
        200:
          description: Estado de la verificación del TED
  /dte/documentos/get_ted:
    post:
      summary: Obtener XML de TED desde imagen
      description: Recurso que permite obtener el XML del TED a partir de una imagen en formato PBM.
      security:
        - ApiKey: []
        - Basic: []
      parameters:
        - name: ted
          in: body
          description: Datos de la imagen en formato PBM codificada en base64
          required: true
          schema:
            type: string
      tags:
        - Documentos
      responses:
        200:
          description: XML del TED codificado en base64
  /dte/contribuyentes/info/{rut}:
    get:
      summary: Datos de un contribuyente
      description: Recurso que permite obtener los datos de un contribuyente registrado en LibreDTE, ya sea un proveedor o un cliente.
      security:
        - ApiKey: []
        - Basic: []
      parameters:
        - name: rut
          in: path
          description: RUT del contribuyente (sin DV)
          required: true
          type: integer
      tags:
        - Contribuyentes
      responses:
        200:
          description: Contribuyente que se está consultando con sus datos
          schema:
            $ref: '#/definitions/Contribuyente'
  /dte/admin/itemes/info/{rut}/{codigo}:
    get:
      summary: Datos de un item (producto o servicio), incluyendo su precio
      description: Recurso que permite obtener los datos de un item (producto o servicio) de un determinado contribuyente a partir de su código. Pueden existir items con el mismo código para un mismo contribuyente, en cuyo caso se diferenciarán por su tipo de código.
      security:
        - ApiKey: []
        - Basic: []
      parameters:
        - name: rut
          in: path
          description: RUT del contribuyente (sin DV)
          required: true
          type: integer
        - name: codigo
          in: path
          description: Código del item
          required: true
          type: string
        - name: fecha
          in: query
          description: Fecha para obtener el precio en caso que no esté en CLP
          required: false
          type: string
          format: date
        - name: tipo
          in: query
          description: Tipo de código del item
          required: false
          type: string
      tags:
        - Items
      responses:
        200:
          description: Item que se está consultando con sus datos
          schema:
            $ref: '#/definitions/Item'
definitions:
  Dte:
    type: object
    properties:
      emisor:
        type: integer
        description: RUT del emisor sin DV
      dte:
        type: integer
        description: Tipo de DTE
      folio:
        type: integer
        description: Folio del DTE
      fecha:
        type: string
        format: date
        description: Fecha de emisión del DTE
      total:
        type: integer
        description: Monto total del DTE
  DteTmp_ID:
    type: object
    properties:
      emisor:
        type: integer
        description: RUT del emisor sin DV
      receptor:
        type: integer
        description: RUT del receptor sin DV
      dte:
        type: integer
        description: Tipo de DTE
      codigo:
        type: string
        description: Código del DTE temporal
  Documento_PDF_Solicitud:
    type: object
    properties:
      xml:
        type: string
        description: Archivo XML de EnvioDTE o EnvioBOLETA codificado en base64
      cedible:
        type: integer
        description: Indica si se debe o no generar la copia cedible del documento
      logo:
        type: string
        description: archivo PNG con la imagen del logo del emisor codificada en base64
      papelContinuo:
        type: number
        description: Permite definir si se usará hoja carta o papel contínuo
      webVerificacion:
        type: string
        description: permite definir la web de verificación para las boletas
      compress:
        type: boolean
        description: permite definir si se debe entregar un ZIP o no
    required: ['xml']
  Contribuyente:
    type: object
    properties:
      rut:
        type: integer
        description: RUT del contribuyente (sin DV)
      dv:
        type: string
        description: Dígito verificador del RUT
      razon_social:
        type: string
        description: Razón social
      giro:
        type: string
        description: Giro comercial
      actividad_economica:
        type: integer
        description: Código de actividad económica del SII
      telefono:
        type: string
        description: Teléfono
      email:
        type: string
        description: Correo electrónico
      direccion":
        type: string
        description: Dirección casa matriz de la empresa
      comuna":
        type: string
        description: Código de comuna
      usuario:
        type: integer
        description: ID del usuario administrador de la empresa
      modificado:
        type: string
        format: date-time
        description: Fecha y hora de la última modificación realizada a los datos del contribuyente
      config_ambiente_produccion_fecha:
        type: string
        format: date
        description: Fecha de la resolución que autoriza a funcionar en ambiente de producción
      config_ambiente_produccion_numero:
        type: integer
        description: Número de la resolución que autoriza a funcionar en ambiente de producción
      config_email_intercambio_user:
        type: string
        description: Correo de intercambio de lcontribuyente
      config_extra_representante_rut:
        type: string
        description: RUT del representante legal (con DV)
      config_extra_contador_rut:
        type: string
        description: RUT del contador (con DV)
      config_extra_web:
        type: string
        description: Página web de la empresa
  DteEmitido:
    type: object
    properties:
      emisor:
        type: integer
        description: RUT del emisor de DTE sin DV
      dte:
        type: integer
        description: Tipo de DTE
      folio:
        type: integer
        description: Folio del DTE
      certificacion:
        type: boolean
        description: Define si el DTE es o no de ambiente de certificación
      tasa:
        type: number
        description: Tasa del impuesto (IVA) en porcentaje
      fecha:
        type: string
        format: date
        description: Fecha de emisión del DTE
      sucursal_sii:
        type: integer
        description: Código de sucursal del emisor asignada por el SII
      receptor:
        type: integer
        description: RUT del receptor del DTE sin dv
      exento:
        type: integer
        description: Monto exento del DTE
      neto:
        type: integer
        description: Monto neto del DTE
      iva:
        type: integer
        description: Monto del IVA del DTE
      total:
        type: integer
        description: Total del DTE
      usuario:
        type: integer
        description: ID del usuario que emitió el DTE
      track_id:
        type: integer
        description: Track ID del envío del DTE al SII
      revision_estado:
        type: string
        description: Estado del envío del DTE al SII
      revision_detalle:
        type: string
        description: Detalles del envío del DTE al SII
  DteRecibido:
    type: object
    properties:
      emisor:
        type: integer
        description: RUT del emisor de DTE sin DV
      dte:
        type: integer
        description: Tipo de DTE
      folio:
        type: integer
        description: Folio del DTE
      certificacion:
        type: boolean
        description: Indica si el DTE es o no del ambiente de certificación
      receptor:
        type: integer
        description: RUT del receptor del DTE sin DV
      tasa:
        type: integer
        description: Tasa del impuesto (IVA) en porcentaje
      fecha:
        type: string
        format: date
        description: Fecha de emisión del DTE
      sucursal_sii:
        type: integer
        description: Código de sucursal donde se emitió el DTE, asignada por el SII
      exento:
        type: integer
        description: Monto exento
      neto:
        type: integer
        description: Monto neto
      iva:
        type: integer
        description: Monto del IVA
      total:
        type: integer
        description: Total del documento
      usuario:
        type: integer
        description: ID del usuario que recibió el DTE
      intercambio:
        type: integer
        description: Código de intercambio de DTE si corresponde
      iva_uso_comun:
        type: number
        description: Factor de proporcionalidad del IVA de uso común
      iva_no_recuperable:
        type: integer
        description: Código de la razón en caso que el IVA no sea recuperable
      impuesto_adicional:
        type: integer
        description: Código de impuesto adicional
      impuesto_adicional_tasa:
        type: number
        description: Tasa del impuesto adicional
      impuesto_tipo:
        type: integer
        description: Tipo de impuesto
      anulado:
        type: string
        description: Una A indica que el documento está anulado
      impuesto_sin_credito:
        type: integer
        description: Impuesto sin crédito
      monto_activo_fijo:
        type: integer
        description: Monto de activo fijo
      monto_iva_activo_fijo:
        type: integer
        description: Monto del IVA de activo fijo
      iva_no_retenido:
        type: integer
        description: IVA no retenido
      periodo:
        type: integer
        description: Período en caso que el DTE se declare en uno diferente al de la fecha de emisión
  Item:
    type: object
    properties:
      TpoCodigo:
        type: string
        description: Tipo de código
      VlrCodigo:
        type: string
        description: Valor del código
      NmbItem:
        type: string
        description: Nombre del item
      DscItem:
        type: string
        description: Descripción del item
      IndExe:
        type: integer
        description: Indica si el item es o no exento
      UnmdItem:
        type: string
        description: Unidad de medida del item
      PrcItem:
        type: number
      ValorDR:
        type: number
        description: Valor del descuento del item
      TpoValor:
        type: string
        description: Indica si el descuento está en pesos o en porcentaje
      CodImpAdic:
        type: integer
        description: Código de impuesto adicional, o retención, asociado al item
  DteEmitido_EstadoEnvio_Respuesta:
    type: object
    properties:
      track_id:
        type: integer
        description: Track ID del envío del DTE al SII
      revision_estado:
        type: string
        description: Estado del envío del DTE al SII
      revision_detalle:
        type: string
        description: Detalles del envío del DTE al SII
  DteEmitido_Buscar_Solicitud:
    type: object
    properties:
      dte:
        type: integer
        description: Tipo de DTE
      folio:
        type: integer
        description: Número de documento tributario electrónico
      receptor:
        type: integer
        description: RUT del receptor del DTE sin puntos ni dígito verificador
      fecha:
        type: string
        format: date
        description: Fecha de emisión del DTE
      fecha_desde:
        type: string
        format: date
        description: Buscar DTEs emitidos desde cierta fecha
      fecha_hasta:
        type: string
        format: date
        description: Buscar DTEs emitidos hasta cierta fecha
      total:
        type: integer
        description: Monto total del DTE
      total_desde:
        type: integer
        description: buscar DTEs emitidos desde cierto monto total
      total_hasta:
        type: integer
        description: buscar DTEs emitidos hasta cierto monto total
      xml:
        type: object
        description: Objeto JSON donde el índice es el nodo del XML desde el tag Documento y el valor el valor buscado en el nodo del XML
  DteEmitido_Buscar_Respuesta:
    type: object
    properties:
      dte:
        type: integer
        description: Tipo de DTE
      tipo:
        type: string
        description: Tipo de DTE
      folio:
        type: integer
        description: Folio del DTE
      razon_social:
        type: string
        description: Razón social del receptor del DTE
      fecha:
        type: string
        format: date
        description: Fecha de emisión del DTE
      total:
        type: integer
        description: Monto total del DTE
      estado:
        type: string
        description: Estado de envío del DTE al SII
      intercambio:
        type: string
        description: Respuesta del intercambio entre contribuyentes
      usuario:
        type: string
        description: Nombre del usuario que emitió el DTE
  GenerarXML_Solicitud:
    type: object
    properties:
      Emisor:
        type: object
        description: Tag Emisor del DTE
      Receptor:
        type: object
        description: Tag Receptor del DTE
      documentos:
        type: array
        description: Arreglo con datos de los DTE que se desea emitir
        items:
          type: object
      folios:
        type: array
        description: Arreglo con los CAF codificados en base64
        items:
          type: string
      firma:
        type: object
        description: Datos de la firma y su contraseña
        properties:
          data:
            type: string
            description: Datos de la firma codificados en base64
          pass:
            type: string
            description: Contraseña de la firma electrónica
      resolucion:
        type: object
        description: Datos de la resolución que autoriza la emisión del DTE
        properties:
          FchResol:
            type: string
            format: date
            description: Fecha de la resolución que autoriza la emisión
          NroResol:
            type: integer
            description: Número de la resolución que autoriza la emisión
      normalizar_dte:
        type: boolean
        description: Si es true entonces se tratará de normalizar el DTE completando aquellos tags que no se pasaron (esto se hace por defecto). Si se asigna en false se deberá proporcionar el DTE con todos sus datos (incluyendo Totales, cálculos de IVA, descuentos, etc).
        default: true
    required: ['Emisor', 'Receptor', 'documentos', 'folios', 'firma']
