# LibreDTE
swagger: '2.0'
info:
  title: Servicios web de LibreDTE
  description: API para trabajar, principalmente, con Documentos Tributarios Electrónicos del SII Chile. Esta descripción corresponde a los servicios web disponibles en https://libredte.cl
  version: "1.0.0"
  termsOfService: https://wiki.libredte.cl/doku.php/terminos
  contact:
    name: SASCO SpA
    url: http://facturacionlibre.cl
    email: libredte@sasco.cl
  license:
    name: AGPL v3
    url: http://www.gnu.org/licenses/agpl.html
# dominio de la API
host: libredte.cl
# arreglo con los esquemas que la API soporta
schemes:
  - https
securityDefinitions:
  ApiKey:
    type: apiKey
    name: Authorization
    in: header
    description: La API key está disponible en el perfil del usuario.
  Basic:
    type: basic
    description: Para la autenticación básica de HTTP se puede enviar el nombre de usuario y su contraseña o bien el hash del usuario (como usuario) y una X mayúscula (como contraseña). El hash está disponible en el perfil del usuario.
security:
  - ApiKey: []
  - Basic: []
# rutas
basePath: /api
produces:
  - application/json
paths:
  /dte/documentos/emitir:
    post:
      summary: Emisión de un DTE temporal
      description: |
        Recurso que permite emitir un documento temporal.

        #### Formato datos de entrada

        El formato del objeto JSON del DTE corresponde a los mismos nombres que el XML del DTE que se desea emitir, con los mismos tipos de datos y restricciones. Puede encontrar más información sobre estos campos en la documentación del SII en:

        - Documentos tributarios electrónicos (no boletas):
            - [Descripción del formato de DTE](https://archivos.libredte.cl/sii/documentacion/formato_dte.pdf)
            - [Diagrama del XML de DTE](https://archivos.libredte.cl/sii/diagramas/diagrama_dte/EnvioDTE_v10.html)
        - Boletas:
            - [Descripción del formato de boletas](https://archivos.libredte.cl/sii/documentacion/boletas_elec.pdf)
            - [Diagrama del XML de boletas](https://archivos.libredte.cl/sii/diagramas/diag_boleta/boletas.html)

        Es necesario y **obligatorio** que quien desee consumir este servicio web **conozca los campos que debe enviar** y los posibles valores de dichos campos. Es responsabilidad de quien consume los servicios web que los datos sean los que el SII espera. Por ejemplo, se deben considerar formatos (K con mayúscula en RUT) o largos (dirección receptor máximo 70 caracteres).

        En el repositorio existen más [ejemplos de archivos JSON](https://github.com/LibreDTE/libredte-lib/tree/master/examples/json) con documentos tributarios electrónicos, si necesitas uno en particular solicítalo [aquí](https://groups.google.com/d/topic/libredte/rbguvEz87xI/discussion).

        Adicionalmente al formato JSON, existen [otros formatos](https://github.com/LibreDTE/libredte-lib/tree/master/lib/Sii/Dte/Formatos) que se pueden utilizar como entrada de datos para emitir el DTE.

      security:
        - ApiKey: []
        - Basic: []
      parameters:
        - name: dte
          in: body
          description: Datos del documento que se desea emitir, puede ser objeto JSON o bien los datos en otro formato codificados en base64
          required: true
          schema:
            type: object
        - name: normalizar
          in: query
          description: Indica si se deben o no normalizar los datos del documento enviado  (por defecto se normaliza)
          type: boolean
          default: true
        - name: formato
          in: query
          description: Formato de los datos que se están enviando (por defecto json)
          type: string
          default: json
      tags:
        - Documentos
        - Crear DTE
      responses:
        200:
          description: Identificación del DTE temporal
          schema:
            $ref: '#/definitions/DteTmp_ID'
        400:
          description: Debe enviar el DTE como un objeto JSON o formato de datos del DTE no es válido
        401:
          description: Usuario no autenticado o credenciales incorrectas
        403:
          description: No está autorizado a operar con la empresa solicitada o a emitir el DTE solicitado
        404:
          description: Falta RUTEmisor en el objeto JSON o el contribuyente no está registrado en la aplicación
        507:
          description: No fue posible guardar los datos del receptor o el DTE temporal
  /dte/documentos/generar:
    post:
      summary: Generar DTE real
      description: Recurso que permite generar el DTE real a partir de un documento temporal.
      security:
        - ApiKey: []
        - Basic: []
      parameters:
        - name: dte_tmp
          in: body
          description: Identificación del DTE temporal
          required: true
          schema:
            $ref: '#/definitions/DteTmp_ID'
        - name: getXML
          in: query
          description: Indica si se solicita o no el XML generado
          type: boolean
      tags:
        - Documentos
        - Crear DTE
      responses:
        200:
          description: Objeto con el DTE emitido
          schema:
            $ref: '#/definitions/DteEmitido'
        400:
          description: Error al enviar los datos del DTE temporal
        401:
          description: Usuario no autenticado o credenciales incorrectas
        403:
          description: No está autorizado a operar con la empresa solicitada o a emitir el DTE solicitado
        404:
          description: No existe el DTE temporal solicitado, falta algún dato o el contribuyente no está registrado
        409:
          description: Existe conflicto de folios
        506:
          description: No hay firma electrónica
        508:
          description: No hay folio para el DTE
        510:
          description: No fue posible generar el sobre EnvioDTE
  /dte/documentos/generar_pdf:
    post:
      summary: Generar PDF a partir de XML
      description: |
        Recurso que permite generar el PDF de un documento tributario electrónico a partir del XML de EnvioDTE o EnvioBOLETA.

        La respuesta del servicio tiene dos posibilidades, un archivo ZIP o un archivo PDF. Si es un archivo ZIP, este podrá contener uno o más PDF dentro. Si se envía un XML con múltiples DTE el ZIP será obligatorio, en caso contrario (un sólo DTE en el XML) el ZIP se genera sólo si se indica compress como true.

        Para poder verificar que tipo de archivo se está recibiendo se deberá consultar la cabecera de la respuesta HTTP. Adicionalmente en las cabeceras viene el nombre del archivo y su tamaño. Las cabeceras son:

        - `Content-Disposition`: nombre del archivo.
        - `Content-Length`: tamaño del archivo.
        - `Content-Type`: tipo de archivo.

        Los datos del archivo, estarán en el cuerpo de la respuesta. Dichos datos pueden ser escritos directamente como un archivo ZIP o PDF según corresponda en el sistema de archivos o bien, usando la cabeceras recibidas, entregarlo en el navegador web al usuario.

      security:
        - ApiKey: []
        - Basic: []
      produces:
        - application/pdf
        - application/zip
      parameters:
        - name: solicitud
          in: body
          description: Solicitud para crear el PDF
          required: true
          schema:
            $ref: '#/definitions/Documento_PDF_Solicitud'
      tags:
        - Documentos
      responses:
        200:
          description: PDF del DTE o archivo ZIP si son varios PDF
        400:
          description: Hubo algún problema al recibir el archivo XML con el EnvioDTE o EnvioBOLETA
        401:
          description: Usuario no autenticado o credenciales incorrectas
        500:
          description: No se pudieron obtener los datos de un DTE
        507:
          description: No fue posible crear directorio temporal pata DTEs
  /dte/documentos/consultar:
    post:
      summary: Consultar por un DTE emitido
      description: Recurso que permite consultar la existencia de un DTE emitido en LibreDTE.
      security:
        - ApiKey: []
        - Basic: []
      parameters:
        - name: dte
          in: body
          description: Identificación del DTE
          required: true
          schema:
            $ref: '#/definitions/Dte'
      tags:
        - Documentos
      responses:
        200:
          description: Objeto con el DTE emitido
          schema:
            $ref: '#/definitions/DteEmitido'
        400:
          description: Falta alguno de los valores de identificación
        401:
          description: Usuario no autenticado o credenciales incorrectas
        404:
          description: Emisor no está registrado o no tiene el DTE emitido solicitado
        409:
          description: DTE existe, pero fecha y/o montos no coinciden
  /dte/dte_tmps/pdf/{receptor}/{dte}/{codigo}/{emisor}:
    get:
      summary: PDF de un DTE temporal
      description: Recurso que permite generar el PDF de un documento temporal o previsualización.
      security:
        - ApiKey: []
        - Basic: []
      parameters:
        - name: receptor
          in: path
          description: RUT del receptor del DTE (sin DV)
          required: true
          type: integer
        - name: dte
          in: path
          description: Tipo de DTE
          required: true
          type: integer
        - name: codigo
          in: path
          description: Código del DTE temporal
          required: true
          type: string
        - name: emisor
          in: path
          description: RUT del emisor del DTE (sin DV)
          required: true
          type: integer
      tags:
        - DteTmps
        - Crear DTE
      responses:
        200:
          description: PDF del DTE temporal
        401:
          description: Usuario no autenticado o credenciales incorrectas
        403:
          description: No está autorizado a operar con la empresa solicitada
        404:
          description: Emisor no está registrado o no tiene el DTE emitido solicitado
        500:
          description: Hubo algún problema al generar el PDF
        507:
          description: No fue posible crear los datos para el DTE
  /dte/dte_tmps/enviar_email/{receptor}/{dte}/{codigo}/{emisor}:
    get:
      summary: Enviar PDF de un DTE temporal por correo electrónico
      description: Recurso que permite generar el PDF de un documento temporal (previsualización) o cotización y enviarlo por correo electrónico
      security:
        - ApiKey: []
        - Basic: []
      parameters:
        - name: receptor
          in: path
          description: RUT del receptor del DTE (sin DV)
          required: true
          type: integer
        - name: dte
          in: path
          description: Tipo de DTE
          required: true
          type: integer
        - name: codigo
          in: path
          description: Código del DTE temporal
          required: true
          type: string
        - name: emisor
          in: path
          description: RUT del emisor del DTE (sin DV)
          required: true
          type: integer
        - name: datos
          in: body
          description: Datos para el correo que se enviará
          required: true
          schema:
            $ref: '#/definitions/DteTmp_EnviarEmail_Solicitud'
      tags:
        - DteTmps
      responses:
        200:
          description: =true si todo fue ok
        401:
          description: Usuario no autenticado o credenciales incorrectas
        403:
          description: No está autorizado a operar con la empresa solicitada
        404:
          description: Emisor no está registrado o no tiene el DTE emitido solicitado
        502:
          description: Hubo algún problema al enviar el PDF
  /dte/dte_emitidos/info/{dte}/{folio}/{emisor}:
    get:
      summary: Datos de un DTE emitido
      description: Recurso que permite obtener los datos de un documento tributario electrónico emitido por un contribuyente. Este servicio no entrega el XML del DTE, si se requiere utilizar el servicio web correspondiente.
      security:
        - ApiKey: []
        - Basic: []
      parameters:
        - name: dte
          in: path
          description: Tipo de DTE
          required: true
          type: integer
        - name: folio
          in: path
          description: Folio del DTE
          required: true
          type: integer
        - name: emisor
          in: path
          description: RUT del emisor del DTE (sin DV)
          required: true
          type: integer
      tags:
        - DteEmitidos
      responses:
        200:
          description: Datos del documento emitido
          schema:
            $ref: '#/definitions/DteEmitido'
        401:
          description: Usuario no autenticado o credenciales incorrectas
        403:
          description: No está autorizado a operar con la empresa solicitada
        404:
          description: Emisor no está registrado o no tiene el DTE emitido solicitado
  /dte/dte_emitidos/pdf/{dte}/{folio}/{emisor}:
    get:
      summary: PDF de un DTE emitido
      description: |
        Recurso que permite generar el PDF de un documento tributario electrónico emitido en el sistema.

        La respuesta del servicio tiene dos posibilidades, un archivo ZIP o un archivo PDF (dependiendo si se indica compress como true).

        Para poder verificar que tipo de archivo se está recibiendo se deberá consultar la cabecera de la respuesta HTTP. Adicionalmente en las cabeceras viene el nombre del archivo y su tamaño. Las cabeceras son:

        - `Content-Disposition`: nombre del archivo.
        - `Content-Length`: tamaño del archivo.
        - `Content-Type`: tipo de archivo.

        Los datos del archivo, estarán en el cuerpo de la respuesta. Dichos datos pueden ser escritos directamente como un archivo ZIP o PDF según corresponda en el sistema de archivos o bien, usando la cabeceras recibidas, entregarlo en el navegador web al usuario.

      security:
        - ApiKey: []
        - Basic: []
      parameters:
        - name: dte
          in: path
          description: Tipo de DTE
          required: true
          type: integer
        - name: folio
          in: path
          description: Folio del DTE
          required: true
          type: integer
        - name: emisor
          in: path
          description: RUT del emisor del DTE (sin DV)
          required: true
          type: integer
        - name: cedible
          in: query
          description: Indica si se debe o no generar la copia cedible
          type: boolean
        - name: papelContinuo
          in: query
          description: Indica el formato del papel a utilizar
          type: number
        - name: compress
          in: query
          description: Indica si se debe o no comprimir el archivo generado
          type: boolean
        - name: copias_tributarias
          in: query
          description: Cantidad de copias tributarias a generar
          type: integer
        - name: copias_cedibles
          in: query
          description: Cantidad de copias cedibles a generar
          type: integer
      tags:
        - DteEmitidos
        - Crear DTE
      responses:
        200:
          description: PDF del DTE o archivo ZIP si son varios PDF
        401:
          description: Usuario no autenticado o credenciales incorrectas
        403:
          description: No está autorizado a operar con la empresa solicitada
        404:
          description: Emisor no está registrado o no tiene el DTE emitido solicitado
        500:
          description: Hubo algún problema al generar el PDF
        507:
          description: No fue posible crear directorio temporal pata DTEs
  /dte/dte_emitidos/xml/{dte}/{folio}/{emisor}:
    get:
      summary: XML de un DTE emitido
      description: Recurso que permite obtener el XML de un documento tributario electrónico emitido por un contribuyente.
      security:
        - ApiKey: []
        - Basic: []
      parameters:
        - name: dte
          in: path
          description: Tipo de DTE
          required: true
          type: integer
        - name: folio
          in: path
          description: Folio del DTE
          required: true
          type: integer
        - name: emisor
          in: path
          description: RUT del emisor del DTE (sin DV)
          required: true
          type: integer
      tags:
        - DteEmitidos
      responses:
        200:
          description: XML codificado en base64
          schema:
            type: string
        401:
          description: Usuario no autenticado o credenciales incorrectas
        403:
          description: No está autorizado a operar con la empresa solicitada
        404:
          description: Emisor no está registrado o no tiene el DTE emitido solicitado
  /dte/dte_emitidos/ted/{dte}/{folio}/{emisor}:
    get:
      summary: TED de un DTE emitido
      description: Recurso que permite obtener el TED de un documento tributario electrónico emitido por un contribuyente, ya sea como XML o como una imagen PNG.
      security:
        - ApiKey: []
        - Basic: []
      produces:
        - application/json
        - image/png
      parameters:
        - name: dte
          in: path
          description: Tipo de DTE
          required: true
          type: integer
        - name: folio
          in: path
          description: Folio del DTE
          required: true
          type: integer
        - name: emisor
          in: path
          description: RUT del emisor del DTE (sin DV)
          required: true
          type: integer
        - name: formato
          in: query
          description: Formato del TED, por defecto png
          type: string
          default: png
        - name: ecl
          in: query
          description: Nivel de corrección de error para timbre en PNG (PDF417)
          type: integer
          default: 5
      tags:
        - DteEmitidos
      responses:
        200:
          description: XML codificado en base64 o PNG transparente
        401:
          description: Usuario no autenticado o credenciales incorrectas
        403:
          description: No está autorizado a operar con la empresa solicitada
        404:
          description: Emisor no está registrado o no tiene el DTE emitido solicitado
  /dte/dte_emitidos/actualizar_estado/{dte}/{folio}/{emisor}:
    get:
      summary: Consultar el estado de un DTE emitido
      description: Recurso que permite consultar al SII el estado de un documento tributario electrónico emitido por un contribuyente y actualizar dicho estado en la base de datos de LibreDTE. El estado puede ser consultado a través del servicio web del SII o bien a través del correo que el SII envía a la casilla de contacto del contribuyente.
      security:
        - ApiKey: []
        - Basic: []
      parameters:
        - name: dte
          in: path
          description: Tipo de DTE
          required: true
          type: integer
        - name: folio
          in: path
          description: Folio del DTE
          required: true
          type: integer
        - name: emisor
          in: path
          description: RUT del emisor del DTE (sin DV)
          required: true
          type: integer
        - name: usarWebservice
          in: query
          description: Indica si se consultará con el servicio web o vía correo, por defecto se usa el servicio web
          type: boolean
          default: true
      tags:
        - DteEmitidos
        - Crear DTE
      responses:
        200:
          description: Estado de la revisión del DTE en el SII
          schema:
            $ref: '#/definitions/DteEmitido_EstadoEnvio_Respuesta'
        401:
          description: Usuario no autenticado o credenciales incorrectas
        403:
          description: No está autorizado a operar con la empresa solicitada
        404:
          description: Emisor no está registrado o no tiene el DTE emitido solicitado
        502:
          description: Ocurrió algún problema al consultar el estado
  /dte/dte_emitidos/enviar_sii/{dte}/{folio}/{emisor}:
    get:
      summary: Permite enviar un DTE al SII
      description: Recurso que permite enviar al SII un DTE que ha sigo generado por LibreDTE pero que por alguna razón no pudo ser enviado al SII. También permite reenviar DTEs que han sido rechazados previamente. Esto básicamente porque el DTE se puede volver a timbrar por defecto y esto podría corregir algún caso de rechazo del timbre.
      security:
        - ApiKey: []
        - Basic: []
      parameters:
        - name: dte
          in: path
          description: Tipo de DTE
          required: true
          type: integer
        - name: folio
          in: path
          description: Folio del DTE
          required: true
          type: integer
        - name: emisor
          in: path
          description: RUT del emisor del DTE (sin DV)
          required: true
          type: integer
      tags:
        - DteEmitidos
      responses:
        200:
          description: Datos del documento emitido
          schema:
            $ref: '#/definitions/DteEmitido'
        400:
          description: Tipo de DTE no se envía al SII
        401:
          description: Usuario no autenticado o credenciales incorrectas
        403:
          description: No está autorizado a operar con la empresa solicitada
        404:
          description: Emisor no está registrado o no tiene el DTE emitido solicitado
        502:
          description: Ocurrió algún problema al enviar el DTE al SII
  /dte/dte_emitidos/enviar_email/{dte}/{folio}/{emisor}:
    post:
      summary: Permite enviar el DTE por correo electrónico
      description: Recurso que permite enviar el DTE por correo electrónico, se envía siempre el XML y opcionalmente se puede enviar el PDF.
      security:
        - ApiKey: []
        - Basic: []
      parameters:
        - name: dte
          in: path
          description: Tipo de DTE
          required: true
          type: integer
        - name: folio
          in: path
          description: Folio del DTE
          required: true
          type: integer
        - name: emisor
          in: path
          description: RUT del emisor del DTE (sin DV)
          required: true
          type: integer
        - name: datos
          in: body
          description: Datos para el correo que se enviará
          required: true
          schema:
            $ref: '#/definitions/DteEmitido_EnviarEmail_Solicitud'
      tags:
        - DteEmitidos
      responses:
        200:
          description: Documento envíado por correo
        401:
          description: Usuario no autenticado o credenciales incorrectas
        403:
          description: No está autorizado a operar con la empresa solicitada
        404:
          description: Emisor no está registrado o no tiene el DTE emitido solicitado
        502:
          description: Ocurrió algún problema al enviar el DTE por correo electrónico
  /dte/dte_emitidos/eliminar/{dte}/{folio}/{emisor}:
    get:
      summary: Permite eliminar un DTE emitido
      description: Recurso que permite eliminar un DTE emitido y enviado al SII que se encuentra en estado rechazado, o bien un DTE que fue emitido pero no se pudo enviar al SII y no se desea enviar.
      security:
        - ApiKey: []
        - Basic: []
      parameters:
        - name: dte
          in: path
          description: Tipo de DTE
          required: true
          type: integer
        - name: folio
          in: path
          description: Folio del DTE
          required: true
          type: integer
        - name: emisor
          in: path
          description: RUT del emisor del DTE (sin DV)
          required: true
          type: integer
      tags:
        - DteEmitidos
      responses:
        200:
          description: =true indicando que fue posible eliminar el DTE
        400:
          description: DTE no puede ser eliminado, ya que fue enviado al SII y no está rechazado
        401:
          description: Usuario no autenticado o credenciales incorrectas
        403:
          description: No está autorizado a operar con la empresa solicitada
        404:
          description: Emisor no está registrado o no tiene el DTE emitido solicitado
        500:
          description: Ocurrió algún problema al eliminar el DTE
  /dte/dte_emitidos/estado/{dte}/{folio}/{emisor}:
    get:
      summary: Consultar estado del DTE en el SII
      description: Recurso que permite consultar el estado de un documento tributario electrónico emitido por un contribuyente en el SII. Esta es la respuesta que se obtiene al verificar el estado del DTE vía www.sii.cl, no es el resultado del estado del envío con el track id.
      security:
        - ApiKey: []
        - Basic: []
      parameters:
        - name: dte
          in: path
          description: Tipo de DTE
          required: true
          type: integer
        - name: folio
          in: path
          description: Folio del DTE
          required: true
          type: integer
        - name: emisor
          in: path
          description: RUT del emisor del DTE (sin DV)
          required: true
          type: integer
        - name: avanzado
          in: query
          description: Indica si se debe realizar una consulta de estado avanzado o normal (por defecto normal).
          type: boolean
          default: false
      tags:
        - DteEmitidos
      responses:
        200:
          description: Respuesta del SII para el estado del DTE
        401:
          description: Usuario no autenticado o credenciales incorrectas
        403:
          description: No está autorizado a operar con la empresa solicitada
        404:
          description: Emisor no está registrado o no tiene el DTE emitido solicitado
        506:
          description: No existe firma electrónica
  /dte/dte_emitidos/cargar_xml:
    post:
      summary: Enviar un XML de un DTE emitido fuera de LibreDTE
      description: Recurso que permite enviar un XML de un DTE emitido fuera de LibreDTE y que este sea agregado a los documentos emitidos del contribuyente.
      security:
        - ApiKey: []
        - Basic: []
      parameters:
        - name: xml
          in: body
          description: XML del DTE codificado en base64
          required: true
          schema:
            type: string
        - name: track_id
          in: query
          description: Track ID del XML que se está enviando
          type: integer
          default: -1
      tags:
        - DteEmitidos
      responses:
        200:
          description: Datos del DTE emitido cargado
          schema:
            $ref: '#/definitions/DteEmitido'
        400:
          description: Debe enviar XML del DTE emitido o envió un XML con más de un DTE
        401:
          description: Usuario no autenticado o credenciales incorrectas
        403:
          description: No está autorizado a operar con la empresa solicitada
        404:
          description: Emisor no está registrado
        409:
          description: DTE enviado ya está registrado
  /dte/dte_emitidos/buscar/{emisor}:
    post:
      summary: Buscar DTE emitidos
      description: Recurso que permite buscar entre los documentos tributarios electrónicos emitidos por cierto contribuyente.
      security:
        - ApiKey: []
        - Basic: []
      parameters:
        - name: emisor
          in: path
          description: RUT del emisor sin DV
          required: true
          type: integer
        - name: filtros
          in: body
          description: Filtros que se aplicarán a la búsqueda
          required: true
          schema:
            $ref: '#/definitions/DteEmitido_Buscar_Solicitud'
      tags:
        - DteEmitidos
      responses:
        200:
          description: Arreglo con DTEs encontrados
          schema:
            type: array
            items:
              $ref: '#/definitions/DteEmitido_Buscar_Respuesta'
        401:
          description: Usuario no autenticado o credenciales incorrectas
        403:
          description: No está autorizado a operar con la empresa solicitada
        404:
          description: Emisor no está registrado
  /dte/dte_recibidos/info/{emisor}/{dte}/{folio}/{receptor}:
    get:
      summary: Datos de un DTE recibido
      description: Recurso que permite obtener los datos de un documento tributario electrónico recibido por un contribuyente.
      security:
        - ApiKey: []
        - Basic: []
      parameters:
        - name: emisor
          in: path
          description: RUT del emisor del DTE (sin DV)
          required: true
          type: integer
        - name: dte
          in: path
          description: Tipo de DTE
          required: true
          type: integer
        - name: folio
          in: path
          description: Folio del DTE
          required: true
          type: integer
        - name: receptor
          in: path
          description: RUT del receptor del DTE (sin DV)
          required: true
          type: integer
      tags:
        - DteRecibidos
      responses:
        200:
          description: Datos del documento recibido
          schema:
            $ref: '#/definitions/DteRecibido'
        400:
          description: RUT del receptor no corresponde al del DTE
        401:
          description: Usuario no autenticado o credenciales incorrectas
        403:
          description: No está autorizado a operar con la empresa solicitada
        404:
          description: Receptor no está registrado o no tiene el DTE recibido solicitado
  /dte/dte_recibidos/buscar/{receptor}:
    get:
      summary: Buscar documentos recibidos
      description: Recurso que permite realizar una búsqueda sobre los documentos recibidos usando algunos filtros. Es obligatorio buscar en ciertas fechas, no es posible obtener todos los documentos sin indicar rango de fechas. Si no se indican fechas para filtrar por defecto se buscan los documentos recibidos del período actual.
      security:
        - ApiKey: []
        - Basic: []
      parameters:
        - name: receptor
          in: path
          description: RUT del receptor del documento (sin DV)
          required: true
          type: integer
        - name: fecha_desde
          in: query
          description: Fecha desde cuando buscar documentos
          type: string
          format: date
        - name: fecha_hasta
          in: query
          description: Fecha hasta cuando buscar documentos
          type: string
          format: date
        - name: fecha
          in: query
          description: Buscar documentos en sólo un día
          type: string
          format: date
        - name: emisor
          in: query
          description: RUT del emisor del documento (sin DV)
          type: integer
        - name: dte
          in: query
          description: Código del documento que se está buscando
          type: integer
        - name: total_desde
          in: query
          description: Para buscar en un rango de monto total
          type: integer
        - name: total_hasta
          in: query
          description: Para buscar en un rango de monto total
          type: integer
        - name: total
          in: query
          description: Para buscar un monto total exacto
          type: integer
      tags:
        - DteRecibidos
      responses:
        200:
          description: Documentos recibidos si se encontraron
        401:
          description: Usuario no autenticado o credenciales incorrectas
        403:
          description: No está autorizado a operar con la empresa solicitada
        404:
          description: Receptor no está registrado o no tiene documentos para los filtros usados
  /dte/documentos/generar_xml:
    post:
      summary: Generar XML de DTE
      description: Recurso que permite generar el XML de un DTE enviando todo lo necesario para hacerlo sin que el contribuyente esté registrado en LibreDTE.
      security:
        - ApiKey: []
        - Basic: []
      produces:
        - application/zip
      parameters:
        - name: datos
          in: body
          description: Datos para poder construir el XML
          required: true
          schema:
            $ref: '#/definitions/GenerarXML_Solicitud'
      tags:
        - Documentos
      responses:
        200:
          description: Archivo ZIP con el XML EnvioDTE o EnvioBOLETA, o bien el XML del DTE solamente si no se indicó la resolución.
        400:
          description: Falta algún dato de los obligatorios
        401:
          description: Usuario no autenticado o credenciales incorrectas
        403:
          description: No está autorizado a operar con la empresa solicitada
        404:
          description: Receptor no está registrado o no tiene el DTE recibido solicitado
        505:
          description: XML generado es inválido
        506:
          description: No fue posible abrir la firma electrónica
        507:
          description: Problema al crear directorio temporal
        508:
          description: Falta el CAF de un DTE o no fue posible timbrar
  /dte/documentos/verificar_ted:
    post:
      summary: Verificar TED
      description: Recurso que permite verificar el TED de un documento tributario electrónico cualquiera.
      security:
        - ApiKey: []
        - Basic: []
      parameters:
        - name: ted
          in: body
          description: XML del TED codificado en base64
          required: true
          schema:
            type: string
      tags:
        - Documentos
      responses:
        200:
          description: Estado de la verificación del TED
        400:
          description: XML del TED es incorrecto
        401:
          description: Usuario no autenticado o credenciales incorrectas
        500:
          description: Problema al validar el TED
  /dte/documentos/get_ted:
    post:
      summary: Obtener XML de TED desde imagen
      description: Recurso que permite obtener el XML del TED a partir de una imagen en formato PBM.
      security:
        - ApiKey: []
        - Basic: []
      parameters:
        - name: ted
          in: body
          description: Datos de la imagen en formato PBM codificada en base64
          required: true
          schema:
            type: string
      tags:
        - Documentos
      responses:
        200:
          description: XML del TED codificado en base64
        401:
          description: Usuario no autenticado o credenciales incorrectas
        500:
          description: No fue posible leer los datos de la imagen
        507:
          description: No fue posible convertir la imagen al formato PBM
  /dte/contribuyentes/info/{rut}:
    get:
      summary: Datos de un contribuyente
      description: Recurso que permite obtener los datos de un contribuyente registrado en LibreDTE, ya sea un proveedor o un cliente.
      security:
        - ApiKey: []
        - Basic: []
      parameters:
        - name: rut
          in: path
          description: RUT del contribuyente (sin DV)
          required: true
          type: integer
      tags:
        - Contribuyentes
      responses:
        200:
          description: Contribuyente que se está consultando con sus datos
          schema:
            $ref: '#/definitions/Contribuyente'
        401:
          description: Usuario no autenticado o credenciales incorrectas
        404:
          description: Contribuyente solicitado no existe
  /dte/admin/itemes/info/{rut}/{codigo}:
    get:
      summary: Datos de un item (producto o servicio), incluyendo su precio
      description: Recurso que permite obtener los datos de un item (producto o servicio) de un determinado contribuyente a partir de su código. Pueden existir items con el mismo código para un mismo contribuyente, en cuyo caso se diferenciarán por su tipo de código.
      security:
        - ApiKey: []
        - Basic: []
      parameters:
        - name: rut
          in: path
          description: RUT del contribuyente (sin DV)
          required: true
          type: integer
        - name: codigo
          in: path
          description: Código del item
          required: true
          type: string
        - name: fecha
          in: query
          description: Fecha para obtener el precio en caso que no esté en CLP
          required: false
          type: string
          format: date
        - name: tipo
          in: query
          description: Tipo de código del item
          required: false
          type: string
        - name: bruto
          in: query
          description: Indica si el monto se debe obtener como bruto (=true) o neto (=false)
          required: false
          type: boolean
          default: false
        - name: moneda
          in: query
          description: Tipo de moneda en que se desea obtener el valor del item
          required: false
          type: string
          default: CLP
      tags:
        - Items
      responses:
        200:
          description: Item que se está consultando con sus datos
          schema:
            $ref: '#/definitions/Item'
        401:
          description: Usuario no autenticado o credenciales incorrectas
        404:
          description: Empresa o item solicitado no existe
  /dte/admin/dte_folios/info/{dte}/{emisor}:
    get:
      summary: Datos del mantenedor de folios de un DTE
      description: Recurso que permite obtener el objeto con los datos del mantenedor de folios de un DTE que tenga registrado el contribuyente
      security:
        - ApiKey: []
        - Basic: []
      parameters:
        - name: dte
          in: path
          description: Tipo de DTE que se quiere obtener su mantenedor de folios
          required: true
          type: integer
        - name: emisor
          in: path
          description: RUT del contribuyente (sin DV)
          required: true
          type: integer
      tags:
        - Folios
      responses:
        200:
          description: Objeto DteFolio con el mantenedor de folios solicitado
          schema:
            $ref: '#/definitions/DteFolio'
        401:
          description: Usuario no autenticado o credenciales incorrectas
        403:
          description: No está autorizado a operar con la empresa solicitada
        404:
          description: Empresa o mantenedor de folios solicitado no existe
  /pagos/cobros/info/{codigo}/{emisor}:
    get:
      summary: Datos de un cobro (pagado o pendiente de pagar)
      description: Recurso que permite obtener los datos de un cobro emitido por un contribuyente. Ya sea uno asociado a un documento temporal o a uno real.
      security:
        - ApiKey: []
        - Basic: []
      parameters:
        - name: codigo
          in: path
          description: Código del cobro
          required: true
          type: string
        - name: emisor
          in: path
          description: RUT del emisor del DTE (sin DV)
          required: true
          type: integer
      tags:
        - Pagos
      responses:
        200:
          description: Datos del cobro
          schema:
            $ref: '#/definitions/Cobro'
        401:
          description: Usuario no autenticado o credenciales incorrectas
        403:
          description: No está autorizado a operar con la empresa solicitada
        404:
          description: Emisor no está registrado o no tiene el cobro solicitado
definitions:
  Dte:
    type: object
    properties:
      emisor:
        type: integer
        description: RUT del emisor sin DV
      dte:
        type: integer
        description: Tipo de DTE
      folio:
        type: integer
        description: Folio del DTE
      fecha:
        type: string
        format: date
        description: Fecha de emisión del DTE
      total:
        type: integer
        description: Monto total del DTE
    required: ['emisor', 'dte', 'folio', 'fecha', 'total']
  DteTmp_ID:
    type: object
    properties:
      emisor:
        type: integer
        description: RUT del emisor sin DV
      receptor:
        type: integer
        description: RUT del receptor sin DV
      dte:
        type: integer
        description: Tipo de DTE
      codigo:
        type: string
        description: Código del DTE temporal
    required: ['emisor', 'receptor', 'dte', 'codigo']
  Documento_PDF_Solicitud:
    type: object
    properties:
      xml:
        type: string
        description: Archivo XML de EnvioDTE o EnvioBOLETA codificado en base64
      cedible:
        type: integer
        description: Indica si se debe o no generar la copia cedible del documento
      logo:
        type: string
        description: archivo PNG con la imagen del logo del emisor codificada en base64
      papelContinuo:
        type: number
        description: Permite definir si se usará hoja carta o papel contínuo
      webVerificacion:
        type: string
        description: permite definir la web de verificación para las boletas
      compress:
        type: boolean
        description: permite definir si se debe entregar un ZIP o no
      copias_tributarias:
        type: number
        description: Define la cantidad de copias tributarias a generar (defecto 1)
      copias_cedibles:
        type: number
        description: Define la cantidad de copias cedibles a generar (defecto 1)
    required: ['xml']
  Contribuyente:
    type: object
    properties:
      rut:
        type: integer
        description: RUT del contribuyente (sin DV)
      dv:
        type: string
        description: Dígito verificador del RUT
      razon_social:
        type: string
        description: Razón social
      giro:
        type: string
        description: Giro comercial
      actividad_economica:
        type: integer
        description: Código de actividad económica del SII
      telefono:
        type: string
        description: Teléfono
      email:
        type: string
        description: Correo electrónico
      direccion":
        type: string
        description: Dirección casa matriz de la empresa
      comuna":
        type: string
        description: Código de comuna
      usuario:
        type: integer
        description: ID del usuario administrador de la empresa
      modificado:
        type: string
        format: date-time
        description: Fecha y hora de la última modificación realizada a los datos del contribuyente
      config_ambiente_produccion_fecha:
        type: string
        format: date
        description: Fecha de la resolución que autoriza a funcionar en ambiente de producción
      config_ambiente_produccion_numero:
        type: integer
        description: Número de la resolución que autoriza a funcionar en ambiente de producción
      config_email_intercambio_user:
        type: string
        description: Correo de intercambio de lcontribuyente
      config_extra_representante_rut:
        type: string
        description: RUT del representante legal (con DV)
      config_extra_contador_rut:
        type: string
        description: RUT del contador (con DV)
      config_extra_web:
        type: string
        description: Página web de la empresa
    required: ['rut', 'dv', 'razon_social', 'modificado']
  DteEmitido:
    type: object
    properties:
      emisor:
        type: integer
        description: RUT del emisor de DTE sin DV
      dte:
        type: integer
        description: Tipo de DTE
      folio:
        type: integer
        description: Folio del DTE
      certificacion:
        type: boolean
        description: Define si el DTE es o no de ambiente de certificación
      tasa:
        type: number
        description: Tasa del impuesto (IVA) en porcentaje
      fecha:
        type: string
        format: date
        description: Fecha de emisión del DTE
      sucursal_sii:
        type: integer
        description: Código de sucursal del emisor asignada por el SII
      receptor:
        type: integer
        description: RUT del receptor del DTE sin dv
      exento:
        type: integer
        description: Monto exento del DTE
      neto:
        type: integer
        description: Monto neto del DTE
      iva:
        type: integer
        description: Monto del IVA del DTE
      total:
        type: integer
        description: Total del DTE
      usuario:
        type: integer
        description: ID del usuario que emitió el DTE
      track_id:
        type: integer
        description: Track ID del envío del DTE al SII
      revision_estado:
        type: string
        description: Estado del envío del DTE al SII
      revision_detalle:
        type: string
        description: Detalles del envío del DTE al SII
    required: ['emisor', 'dte', 'folio', 'certificacion', 'fecha', 'receptor', 'total', 'usuario']
  DteRecibido:
    type: object
    properties:
      emisor:
        type: integer
        description: RUT del emisor de DTE sin DV
      dte:
        type: integer
        description: Tipo de DTE
      folio:
        type: integer
        description: Folio del DTE
      certificacion:
        type: boolean
        description: Indica si el DTE es o no del ambiente de certificación
      receptor:
        type: integer
        description: RUT del receptor del DTE sin DV
      tasa:
        type: integer
        description: Tasa del impuesto (IVA) en porcentaje
      fecha:
        type: string
        format: date
        description: Fecha de emisión del DTE
      sucursal_sii:
        type: integer
        description: Código de sucursal donde se emitió el DTE, asignada por el SII
      exento:
        type: integer
        description: Monto exento
      neto:
        type: integer
        description: Monto neto
      iva:
        type: integer
        description: Monto del IVA
      total:
        type: integer
        description: Total del documento
      usuario:
        type: integer
        description: ID del usuario que recibió el DTE
      intercambio:
        type: integer
        description: Código de intercambio de DTE si corresponde
      iva_uso_comun:
        type: number
        description: Factor de proporcionalidad del IVA de uso común
      iva_no_recuperable:
        type: integer
        description: Código de la razón en caso que el IVA no sea recuperable
      impuesto_adicional:
        type: integer
        description: Código de impuesto adicional
      impuesto_adicional_tasa:
        type: number
        description: Tasa del impuesto adicional
      impuesto_tipo:
        type: integer
        description: Tipo de impuesto
        default: 1
      anulado:
        type: string
        description: Una A indica que el documento está anulado
      impuesto_sin_credito:
        type: integer
        description: Impuesto sin crédito
      monto_activo_fijo:
        type: integer
        description: Monto de activo fijo
      monto_iva_activo_fijo:
        type: integer
        description: Monto del IVA de activo fijo
      iva_no_retenido:
        type: integer
        description: IVA no retenido
      periodo:
        type: integer
        description: Período en caso que el DTE se declare en uno diferente al de la fecha de emisión
    required: ['emisor', 'dte', 'folio', 'certificacion', 'receptor', 'fecha', 'total', 'usuario']
  Item:
    type: object
    properties:
      TpoCodigo:
        type: string
        description: Tipo de código
      VlrCodigo:
        type: string
        description: Valor del código
      NmbItem:
        type: string
        description: Nombre del item
      DscItem:
        type: string
        description: Descripción del item
      IndExe:
        type: integer
        description: Indica si el item es o no exento
      UnmdItem:
        type: string
        description: Unidad de medida del item
      PrcItem:
        type: number
        description: Valor del item
      Moneda:
        type: string
        description: Tipo de moneda en que está el valor del item
      MntBruto:
        type: boolean
        description: Indica si el valor del item es bruto (=true) o neto (=false)
      ValorDR:
        type: number
        description: Valor del descuento del item
      TpoValor:
        type: string
        description: Indica si el descuento está en pesos o en porcentaje
      CodImpAdic:
        type: integer
        description: Código de impuesto adicional, o retención, asociado al item
    required: ['TpoCodigo', 'VlrCodigo', 'NmbItem', 'PrcItem']
  DteEmitido_EstadoEnvio_Respuesta:
    type: object
    properties:
      track_id:
        type: integer
        description: Track ID del envío del DTE al SII
      revision_estado:
        type: string
        description: Estado del envío del DTE al SII
      revision_detalle:
        type: string
        description: Detalles del envío del DTE al SII
    required: ['track_id', 'revision_estado', 'revision_detalle']
  DteEmitido_EnviarEmail_Solicitud:
    type: object
    properties:
      emails:
        type: array
        description: Arreglo con los correos donde se deberá enviar el DTE
        items:
          type: string
      asunto:
        type: string
        description: Asunto del correo
      mensaje:
        type: string
        description: Cuerpo del correo
      pdf:
        type: boolean
        description: Indica si se debe o no generar un PDF
        default: false
      cedible:
        type: boolean
        description: Si pdf=true indica si el PDF va con cedible
        default: false
      papelContinuo:
        type: number
        description: Indica si se usará hoja carta =0 o bien papel contínuo (ejemplo =80)
  DteEmitido_Buscar_Solicitud:
    type: object
    properties:
      dte:
        type: integer
        description: Tipo de DTE
      folio:
        type: integer
        description: Número de documento tributario electrónico
      receptor:
        type: integer
        description: RUT del receptor del DTE sin puntos ni dígito verificador
      fecha:
        type: string
        format: date
        description: Fecha de emisión del DTE
      fecha_desde:
        type: string
        format: date
        description: Buscar DTEs emitidos desde cierta fecha
      fecha_hasta:
        type: string
        format: date
        description: Buscar DTEs emitidos hasta cierta fecha
      total:
        type: integer
        description: Monto total del DTE
      total_desde:
        type: integer
        description: buscar DTEs emitidos desde cierto monto total
      total_hasta:
        type: integer
        description: buscar DTEs emitidos hasta cierto monto total
      xml:
        type: object
        description: Objeto JSON donde el índice es el nodo del XML desde el tag Documento y el valor el valor buscado en el nodo del XML (ejemplo Detalle/NmbItem)
  DteEmitido_Buscar_Respuesta:
    type: object
    properties:
      dte:
        type: integer
        description: Tipo de DTE
      tipo:
        type: string
        description: Tipo de DTE
      folio:
        type: integer
        description: Folio del DTE
      razon_social:
        type: string
        description: Razón social del receptor del DTE
      fecha:
        type: string
        format: date
        description: Fecha de emisión del DTE
      total:
        type: integer
        description: Monto total del DTE
      estado:
        type: string
        description: Estado de envío del DTE al SII
      intercambio:
        type: string
        description: Respuesta del intercambio entre contribuyentes
      usuario:
        type: string
        description: Nombre del usuario que emitió el DTE
    required: ['dte', 'tipo', 'folio', 'razon_social', 'fecha', 'total', 'usuario']
  GenerarXML_Solicitud:
    type: object
    properties:
      Emisor:
        type: object
        description: Tag Emisor del DTE
      Receptor:
        type: object
        description: Tag Receptor del DTE
      documentos:
        type: array
        description: Arreglo con datos de los DTE que se desea emitir
        items:
          type: object
      folios:
        type: array
        description: Arreglo con los CAF codificados en base64
        items:
          type: string
      firma:
        type: object
        description: Datos de la firma y su contraseña
        properties:
          data:
            type: string
            description: Datos de la firma codificados en base64
          pass:
            type: string
            description: Contraseña de la firma electrónica
        required: ['data', 'pass']
      resolucion:
        type: object
        description: Datos de la resolución que autoriza la emisión del DTE
        properties:
          FchResol:
            type: string
            format: date
            description: Fecha de la resolución que autoriza la emisión
          NroResol:
            type: integer
            description: Número de la resolución que autoriza la emisión
        required: ['FchResol', 'NroResol']
      normalizar_dte:
        type: boolean
        description: Si es true entonces se tratará de normalizar el DTE completando aquellos tags que no se pasaron (esto se hace por defecto). Si se asigna en false se deberá proporcionar el DTE con todos sus datos (incluyendo Totales, cálculos de IVA, descuentos, etc).
        default: true
    required: ['Emisor', 'Receptor', 'documentos', 'folios', 'firma']
  DteFolio:
    type: object
    properties:
      emisor:
        type: integer
        description: Contribuyente al que está registrado el folio
      dte:
        type: integer
        description: Tipo de DTE del folio
      certificacion:
        type: boolean
        description: Indica si el folio es del ambiente de certificación
      siguiente:
        type: integer
        description: Siguiente folio disponible
      disponibles:
        type: integer
        description: Cantidad de folios disponibles
      alerta:
        type: integer
        description: Al alcanzar este número de folios disponibles se alertará al administrador de la empresa
      alertado:
        type: boolean
        description: Indica si la alerta por baja cantidad de folios ya fue enviada al administrador
    required: ['emisor', 'dte', 'certificacion', 'siguiente', 'disponibles', 'alerta', 'alertado']
  DteTmp_EnviarEmail_Solicitud:
    type: object
    properties:
      emails:
        type: array
        description: Arreglo con los correos donde se deberá enviar el DTE
        items:
          type: string
      asunto:
        type: string
        description: Asunto del correo
      mensaje:
        type: string
        description: Cuerpo del correo
      cotizacion:
        type: boolean
        description: Si =true que se enviará una cotización en vez de la previsualización
        default: true
  Cobro:
    type: object
    properties:
      emisor:
        type: integer
        description: RUT del emisor del cobro (sin DV)
      codigo:
        type: string
        description: Asunto del correo
      receptor:
        type: integer
        description: RUT del receptor del cobro (sin DV)
      fecha:
        type: string
        format: date
        description: Fecha en que el cobro fue generado
      vencimiento:
        type: string
        format: date
        description: Fecha de vencimiento del cobro
      total:
        type: integer
        description: Monto total del cobro
      dte:
        type: integer
        description: Tipo de documento asociado al cobro
      temporal:
        type: string
        description: Código del DTE temporal asociado al cobro
      emitido:
        type: integer
        description: Folio del DTE real emitido
      pagado:
        type: string
        format: date
        description: Fecha en que se realizó el pago
      medio:
        type: string
        description: Medio usado para realizar el pago
